<!DOCTYPE html>
<html lang="en">
  <!-- HTML HEAD -->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>

    <!-- CONTENT -->
    <main>
      <% posts?.forEach(post => { %> <%- include("./index/post.ejs",
      {...post})%> <% }) %>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
