<!DOCTYPE html>
<html lang="en">
  <!-- HTML HEAD -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

    <!-- NAV -->
    <%- include('../partials/nav.ejs') %>

    <!-- CONTENT -->
    <main>
      <h2>Creating new blog post</h2>

      <%- include('./new/form.ejs') %>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
